@mixin text-body{ 
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: $regular-weight; 
	color: $pure-white; 
}

@mixin  display-body {
	width: 100vw;
	height: 100vh;
	margin: auto;	
}

@mixin palette-container {
	height: 100%;
	display:flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
}

@mixin palette {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

@mixin palette-color ($color) {
	.base-color { background-color: $color; }
	.darken-1 {	background-color: darken($color, 10%);	}
	.darken-2 { background-color: darken($color, 20%); }
	.darken-3 { background-color: darken($color, 30%); }
	.darken-4 { background-color: darken($color, 40%); }
	.lighten-1 { background-color: lighten($color, 10%); }
	.lighten-2 { background-color: lighten($color, 20%); }
	.lighten-3 { background-color: lighten($color, 30%); }
	.lighten-4 { background-color: lighten($color, 40%); }
}

@mixin box {
	border-radius: 5%;
	padding: 6.5rem 3.5rem;	
}