/* line 1, ../sass/_base.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #FFF;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

/* line 1, ../sass/_palette.scss */
.palette-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

/* line 5, ../sass/_palette.scss */
.container-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
/* line 28, ../sass/_mixins.scss */
.container-1 .base-color {
  background-color: #f6d743;
}
/* line 29, ../sass/_mixins.scss */
.container-1 .darken-1 {
  background-color: #f4cd12;
}
/* line 30, ../sass/_mixins.scss */
.container-1 .darken-2 {
  background-color: #c9a80a;
}
/* line 31, ../sass/_mixins.scss */
.container-1 .darken-3 {
  background-color: #998007;
}
/* line 32, ../sass/_mixins.scss */
.container-1 .darken-4 {
  background-color: #685705;
}
/* line 33, ../sass/_mixins.scss */
.container-1 .lighten-1 {
  background-color: #f8e174;
}
/* line 34, ../sass/_mixins.scss */
.container-1 .lighten-2 {
  background-color: #fbeca4;
}
/* line 35, ../sass/_mixins.scss */
.container-1 .lighten-3 {
  background-color: #fdf6d5;
}
/* line 36, ../sass/_mixins.scss */
.container-1 .lighten-4 {
  background-color: white;
}

/* line 10, ../sass/_palette.scss */
.container-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
/* line 28, ../sass/_mixins.scss */
.container-2 .base-color {
  background-color: #649d66;
}
/* line 29, ../sass/_mixins.scss */
.container-2 .darken-1 {
  background-color: #507e51;
}
/* line 30, ../sass/_mixins.scss */
.container-2 .darken-2 {
  background-color: #3c5f3d;
}
/* line 31, ../sass/_mixins.scss */
.container-2 .darken-3 {
  background-color: #284029;
}
/* line 32, ../sass/_mixins.scss */
.container-2 .darken-4 {
  background-color: #152015;
}
/* line 33, ../sass/_mixins.scss */
.container-2 .lighten-1 {
  background-color: #83b185;
}
/* line 34, ../sass/_mixins.scss */
.container-2 .lighten-2 {
  background-color: #a2c5a4;
}
/* line 35, ../sass/_mixins.scss */
.container-2 .lighten-3 {
  background-color: #c2d8c3;
}
/* line 36, ../sass/_mixins.scss */
.container-2 .lighten-4 {
  background-color: #e1ece1;
}

/* line 15, ../sass/_palette.scss */
.container-3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
/* line 28, ../sass/_mixins.scss */
.container-3 .base-color {
  background-color: #1f4068;
}
/* line 29, ../sass/_mixins.scss */
.container-3 .darken-1 {
  background-color: #132841;
}
/* line 30, ../sass/_mixins.scss */
.container-3 .darken-2 {
  background-color: #081019;
}
/* line 31, ../sass/_mixins.scss */
.container-3 .darken-3 {
  background-color: black;
}
/* line 32, ../sass/_mixins.scss */
.container-3 .darken-4 {
  background-color: black;
}
/* line 33, ../sass/_mixins.scss */
.container-3 .lighten-1 {
  background-color: #2b588f;
}
/* line 34, ../sass/_mixins.scss */
.container-3 .lighten-2 {
  background-color: #3670b7;
}
/* line 35, ../sass/_mixins.scss */
.container-3 .lighten-3 {
  background-color: #548acc;
}
/* line 36, ../sass/_mixins.scss */
.container-3 .lighten-4 {
  background-color: #7ba5d8;
}

/* line 20, ../sass/_palette.scss */
.box {
  border-radius: 5%;
  padding: 6.5rem 3.5rem;
}

/* line 24, ../sass/_palette.scss */
.color-box-text {
  color: #FAFAFA;
}
